* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: auto;
    background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
}

.header {
    display: flex;
    justify-content: center;
}

.showImage {
    position: absolute;
    width: 90%;
    height: 80%;
    z-index: 0;
}

#resultBar {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
}

.question {
    position: absolute;
    overflow: hidden;
    left: 1%;
    width: 30%;
    height: 40%;
    text-align: center;
}




.answer {
    position: absolute;
    overflow: hidden;
    right: 1%;
    width: 30%;

    height: 40%;
    flex-direction: row;
    text-align: center;

}

#nav-buts {
    position: absolute;
    left: 35%;
    display: flex;
    width: 30%;

}


#imageNeeded {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-height: 90%;
    flex-direction: row;
}

#getLastImg {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;

    left: 1%;
    width: 49%;
    height: 100%;
    z-index: 5;
    border: none;

}

#getNextImg {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;

    right: 1%;
    width: 49%;
    height: 100%;
    z-index: 5;
    border: none;

}